body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-weight: bolder;
  font-size: 2rem;
  margin: 0;
}

main {
  flex: 1; /* Expand the main content to fill the available space */
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 0;
}

p {
  font-size: 1rem;
  margin-top: 0;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: auto;
  text-align: center;
  padding: 10px;
}

/* Specific styles for welcome message */
#welcome-message {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #0f4c55;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
}

#welcome-message h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#welcome-message p {
  font-size: 1.2rem;
}

#quizButton {

    display: block;
    padding: auto;
    margin:  0 auto;
}
