body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: hsl(0, 0%, 20%);
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: auto;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

#dropdown-section {
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #E9E9E9;
  color: #454444;
}

#dropdown-section ul {
  list-style: none;
  padding: 0;
}

#dropdown-section li {
  margin-bottom: 20px;
}

#dropdown-section h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
}

#dropdown-section p {
  font-size: 1rem;
  margin-top: 0;
}

#quizButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#quizButton1,
#quizButton2 {
  background-color: #FFD500;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px; /* Add margin between buttons */
}

#quizButton1:hover,
#quizButton2:hover {
  background-color: #ffb700;
}

#main-content {
  display: flex;
}

#currentPlaylist {
  flex: 1;
  padding: 20px;
  background-color: #007bff;
  border-radius: 10px;
  margin: 50px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#currentPlaylist h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

#topTen {
  flex: 1;
  padding: 20px;
  background-color: #da3a3a;
  border-radius: 10px;
  margin: 50px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#topTen h2 {
  font-weight: bolder;
  font-size: larger;
  color: #fff;
  margin-top: 0;
}

#topTen ol {
  padding: 0;
  color: #fff;
}

#topTen li {
  margin: 20px;
}

#topTen li a {
  text-decoration: none;
  color: #fff;
}

#topTen li a:hover {
  color: #0ae47e;
}
